<h1>Little bit of feel good</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/urY4wSa56N8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<p>
    Just the sound of your voice
Drowning out all my noise
When you call my name mysteriously
All the source to let me see
Little bit of feel good goes a long way
I need your touch to get me through my day
Watching you sleeping I pray
Please don't make my feel good go away
Just a look of those eyes, cutting through my smokey skies
And the parts of me that grow from you
Cleared my vision so that I could see
Little bit of feel good goes a long way
I need your touch to get me through my day
Watching you sleeping I pray
Please don't make my feel good go away
Just the smell of you hair follows me everywhere
Your sweet alchemy turned trouble to gold
Transforming it all to let me know
Little bit of feel good goes a long way
I need your touch to get me through my day
Watching you sleeping I pray
Please don't make my feel good go away
Please don't make my feel good go away
Please don't make my feel good go away
Please don't make it go away
</p>

<p>작사: Andre Botelle Vida / Dominic Mocky Salole / Jamie Lidell</p>